<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI 테스트</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        @font-face {
            font-family: 'Ongleap Park Dahyun Font';
            src: url('/Ongleap Park Dahyun Font.ttf') format('truetype'); /* Custom font */
        }

        .start-button-style {
            font-family: 'Ongleap Park Dahyun Font', sans-serif; /* Apply Ongleap Park Dahyun Font */
        }
    </style>
</head>
<body>
<div class="content-container">
    <div class="image-container">
        <img src="/title.png" alt="새로 변한 나의 모습" style="width: 75%; max-width: 600px; border-radius: 10px;">
    </div>
    <br>
    <p class="description">나는 어떤 새일까?<br>
        성격으로 찾아보는 나의 새 유형</p>
</div>
<div class="button-container">
    <a href="loading1?answer=start" class="start-button-style">테스트 시작하러 가기</a>
    <p class="hover-text">with 호버링</p>
</div>
</body>
</html>