<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js" defer></script>
    <link rel="icon" href="/bird.ico">
    <style>
        body {
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .typing-container {
            text-align: center;
        }
        #typing-text {
            font-size: 25px;
        }
    </style>
</head>
<body>
<div class="typing-container">
    <p id="typing-text"></p>
</div>
</body>
</html>